* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --background-color: #000;
    --color-surface-1: #0f1923;
    --color-surface-2: #1b2733;
    --color-surface-3: #2c3f52;
}

body {
    background-color: green;
}

nav {
    background-color: red;
}

.cover-content-container {
    background-color: aqua;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: white;
}

.action-container {
    background-color: blueviolet;
}

.widgets-section-container {
    background-color: cadetblue;
}

.summary {
    background-color: beige;
}

footer {
    background-color: yellow;
}
