* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --background-color: #000;
    --color-surface-1: #0f1923;
    --color-surface-2: #1b2733;
    --color-surface-3: #2c3f52;
}

body {
    background-color: green;
}

nav {
    background-color: red;
    height: 3em;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: white;
}

.cover-content-container {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30em;
}

.cover-content-container ul {
    display: flex;
}

.cover-content-container li {
    display: flex;
    
}

.cover-content-container input {
    display: flex;
}

.card-container {
    display: flex;
}

.alternate-container {
    background-color: chocolate;
    height: 5em;
}

.action {
    background-color: blueviolet;
    height: 4em;
}

.widgets-section-container {
    background-color: cadetblue;
    height: 30em;
}

.summary {
    background-color: beige;
    height: 5em;
}

footer {
    background-color: yellow;
    height: 15em;
}
